@media (max-width: 767px) {

.header-left {
    font-size: 20px;
    letter-spacing: 5px;
}
.nav {
    display: none;
}
.mainvisual .mainvisual-text h1{
    font-size: 5rem;
    letter-spacing: 1rem;
}
.contents {
    display: block;
    text-align: center;
}

.myphoto  {
    display: none;
}
#about-contents{
    flex-direction: column;
}
.about-text {
    width:100%;
}
.main-text {
    margin: 0 auto;
    padding-top: 20px;
    width:100%;

}
.maintext{
    width:100%;
}
.about-skills{
    width:100%;
}
#work-contents{
    flex-direction: column;
    gap:50px;
}
#work-contents .works{
    width:100%;
}
.popup .popup-contents{
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1.5rem;
    height: auto;
    max-height: calc(100vh - 5%);
}
.popup .popup-contents::-webkit-scrollbar{
    display: none;
}
.popup .left-contents,.popup .right-contents {
    width: 100%;
}
.popup .left-contents{
    margin-bottom: 3rem;
}
.popup .cross-icon{
    z-index: 1;
}
.closing p{
    font-size: 4rem;
}
footer .nav{
    display: flex;
    justify-content: center;
}
footer .nav ul li{
    padding: 0 10px;
}

}