html {
    scroll-behavior: smooth;
    font-size: 10px;
}

/* @keyframes disableScroll {
0%{
overflow-y: hidden;
}
100%{
overflow-y: auto;
}
} */
body {
    color: #333;
    font-size: 10px;
    background-color: #fff;
    /* animation: disableScroll .1s linear 1.9s backwards; */
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: top;
}

a {
    color: #333;
}

a,
p {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

/* ローディングアニメーション */
.loading{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: white; 
    z-index: 99999;
}
.loading p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 11rem;
    font-size: 2rem;
    font-weight: bold;
}
.flower-spinner,
.flower-spinner * {
    box-sizing: border-box;
}

.flower-spinner {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.flower-spinner .dots-container {
    height: calc(70px / 7);
    width: calc(70px / 7);
}

.flower-spinner .smaller-dot {
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;

}

.flower-spinner .bigger-dot {
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 10%;
    border-radius: 50%;
    animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
}

@keyframes flower-spinner-bigger-dot-animation {

    0%,
    100% {
        box-shadow: rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
        rgb(0, 0, 0) 0px 0px 0px,
    }

    50% {
        transform: rotate(180deg);
    }

    25%,
    75% {
        box-shadow: rgb(0, 0, 0) 26px 0px 0px,
            rgb(0, 0, 0) -26px 0px 0px,
            rgb(0, 0, 0) 0px 26px 0px,
            rgb(0, 0, 0) 0px -26px 0px,
            rgb(0, 0, 0) 19px -19px 0px,
            rgb(0, 0, 0) 19px 19px 0px,
            rgb(0, 0, 0) -19px -19px 0px,
            rgb(0, 0, 0) -19px 19px 0px;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px;
    }
}

@keyframes flower-spinner-smaller-dot-animation {

    0%,
    100% {
        box-shadow: rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px;
    }

    25%,
    75% {
        box-shadow: rgb(0, 0, 0) 14px 0px 0px,
            rgb(0, 0, 0) -14px 0px 0px,
            rgb(0, 0, 0) 0px 14px 0px,
            rgb(0, 0, 0) 0px -14px 0px,
            rgb(0, 0, 0) 10px -10px 0px,
            rgb(0, 0, 0) 10px 10px 0px,
            rgb(0, 0, 0) -10px -10px 0px,
            rgb(0, 0, 0) -10px 10px 0px;
    }

    100% {
        box-shadow: rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px,
            rgb(0, 0, 0) 0px 0px 0px;
    }
}

/* スライドインアニメーション */
.slide-in {
    opacity: 0;
    transform: translateY(50%);
    transition: 1.5s;
}

.slide-in-active {
    opacity: 1;
    transform: translate(0);
}

/* ここまで */

.hamburger-wrap {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.hamburger-wrap:hover {
    background-color: rgb(0, 0, 0);
}

.hamburger-wrap.active {
    background-color: transparent;
}

.header-hamburger {
    display: block;
    width: 1.5rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-hamburger div {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
}

.header-hamburger div:nth-child(1) {
    transform: translate(-50%, -0.7rem);
    /* // 実際に真ん中の線と離れてるのは0.8rem
        でも、top50%により真ん中の線より半身飛び出している。線の高さが0.2rem、半身飛び出している部分が0.1rem、つまり、0.8remの間隔を空けたいならば0.8+0.2+0.1＝1.1 */
}

.header-hamburger div:nth-child(3) {
    transform: translate(-50%, 0.5rem);
    /* // 半身１つ目より下にいるため、一つ目より半身分移動距離を減らす */
}

.header-hamburger .active {
    z-index: 9999;
}

.header-hamburger.active div:nth-of-type(1) {
    transform: translate(-50%, 0rem) rotate(-405deg);
    background-color: white;
}

.header-hamburger.active div:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.header-hamburger.active div:nth-of-type(3) {
    transform: translate(-50%, 0rem) rotate(405deg);
    background-color: white;
}

/* // モーダル */
.header-modal-bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 999;
    animation-name: show;
    animation-duration: 0.5s;
    opacity: 0.8;
}

.header-modal-content {
    color: white;
    position: fixed;
    z-index: 99999;
    min-width: 30rem;
    height: 100vh;
    background-color: #fff;
    overflow: scroll;
    transition: 0.5s;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
}

/* 後付けクラス（jq） */
.header-slide-in-left {
    transform: translateX(0);
    opacity: 1;
}

.header-modal-menu-list {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-modal-menu-list li {
    margin-bottom: 30px;
}

.header-modal-menu-list li a:hover {
    font-weight: bold;
}

.header-modal-contact {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.header-modal-contact a {
    cursor: pointer;
    opacity: 0.7;
}

.header-modal-contact a:hover {
    opacity: 1;
}

/* メインビジュアル */

.mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainvisual img {
    height: 100vh;
    opacity: 0.9;
    position: fixed;
    z-index: -1;
    background-color: rgb(92, 88, 88);
}

.mainvisual-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainvisual-text h1 {
    font-size: 9rem;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    letter-spacing: 30px;
}

.mainvisual-text p {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    font-style: oblique;
    font-weight: bold;
}

.mainvisual .scroll-down {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.mainvisual .scroll-down p {
    writing-mode: vertical-lr;
    color: black;
    font-size: 1.3rem;
}

.mainvisual .scroll-down span {
    display: inline-block;
    width: 1px;
    height: 10rem;
    background-color: black;
    transform: translateX(0%);
    animation: scrolldown 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes scrolldown {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

main {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 0 30px;
}

.section-title {
    font-size: 3rem;
    padding: 100px 0 50px 0;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
}

#about-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.myphoto {
    width: 40%;
    border-radius: 50%;
}

.about-text {
    width: 50%;
}

.about-text p {
    line-height: 2em;
}

.main-text {
    margin-top: 30px;
}

.about-skills {
    width: 60%;
    margin: 0 auto;
}

.sub-logo {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 100;
}

.icon {
    text-align: center;
    margin: 15px 0;
}

#skills-text {
    line-height: 2rem;
}

#skills-text span {
    color: red;
}

#work-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.works {
    text-align: center;
}

.works img {
    border: solid 3px black;
    box-sizing: border-box;
}

.works a {
    cursor: pointer;
    display: inline-block;
}

.works a:hover {
    transition: 0.1s;
    transform: scale(1.05);
    box-shadow: 3px 3px 5px 2px #777777;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.popup .popup-modal-bg {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup .popup-contents {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 80%;
    max-height: 66rem;
    background-color: white;
    display: none;
    overflow: scroll;
    justify-content: space-evenly;
}

.popup .cross-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: black;
    opacity: 0.7;
    border-radius: 100vh;
}

.popup .cross-icon:hover {
    opacity: 1;
}

.popup .cross-icon span:nth-child(1) {
    width: 60%;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: white;
}

.popup .cross-icon span:nth-child(2) {
    width: 60%;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: white;
}



.popup .left-contents {
    width: 35%;
    margin: auto 0;
}

.popup .left-contents .work-title {
    position: relative;
    height: 5rem;
}

.popup .left-contents .work-title h3 {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    white-space: nowrap;
    padding: 0 1rem;
}

.popup .left-contents .work-title::before {
    display: block;
    content: "";
    position: absolute;
    height: 0.01rem;
    background-color: rgb(218, 214, 214);
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.popup .left-contents p {
    line-height: 2.5rem;
}

.popup .left-contents .popup-title {
    position: relative;
    height: 5rem;
}

.popup .left-contents .popup-title h4 {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    white-space: nowrap;
    padding: 0 1rem;
}

.popup .left-contents .popup-title::before {
    display: block;
    content: "";
    position: absolute;
    height: 0.01rem;
    background-color: rgb(218, 214, 214);
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.popup .right-contents {
    width: 55%;
    text-align: center;
    margin: auto 0;
}

.popup-contents img {
    border: 1rem solid rgb(74, 72, 72);
    vertical-align: bottom;
}
.popup-contents img:hover{
    opacity: 0.7;
}

.popup-contents a {
    display: inline-block;
    max-width: 60rem;
}

/* コンタクト */
.contact-wrapper {
    padding-bottom: 15rem;
}

.contact-contents .fab {
    opacity: 0.7;
}

.contact-contents .fab:hover {
    opacity: 1;
}

.contact-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-contents .fas {
    opacity: 0.7;
}

.contact-contents .fas:hover {
    opacity: 1;
}

footer .nav ul {
    justify-content: flex-start;
    display: flex;
    gap: 2rem;
}

footer .nav ul li {
    color: white;
    line-height: 4rem;
}



.closing {
    width: 100%;
    height: 40rem;
    background-color: rgb(239, 240, 241);
    position: relative;
    z-index: 1;
}

.closing p {
    width: 100%;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
}

footer {
    position: relative;
    padding: 0 2rem;
    height: 6rem;
    background-color: grey;
    z-index: 2;
}

footer p {
    color: white;
    line-height: 6rem;
    font-weight: bold;
}

footer .scroll-top-btn {
    display: inline-block;
    width: 9rem;
    height: 9rem;
    background-color: grey;
    position: absolute;
    border-radius: 100vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: -1;
    transition: 0.3s;
}

footer .scroll-top-btn:hover {
    transform: translate(-50%, -40%);
}

footer .arrow-up {
    position: absolute;
    top: 40%;
    left: 50%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    border: 0.7rem solid white;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translate(-50%, -50%) rotate(-45deg);
}