/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
p{
    margin:0;
}
/*リセットここまで*/

body{
    color:#333;
    font-size: 100%;
}
img{
    max-width: 100%;
}
a{
    text-decoration:none;
    color:#333;
}

ul{
    list-style:none;
}

header{
   margin-top:70px;
}
.container{
    width:80%;
    margin:0 auto;
}

.header-menu{
    display:flex;
    align-items: center
}

.header-left{
    font-size:30px;
    letter-spacing: 8px;
}
.header-right{
    margin-left: auto;
}
.header-right .fab{
    opacity: 0.7;
}

.header-right .fab:hover{
    opacity: 1;
}

.nav{
    margin-top: 30px;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
}

.nav ul li{
    padding: 0 20px;
}

.nav ul li:hover{
    text-decoration: underline;
}
.table{
    display: none;
}

.top-wrapper{
    margin-top:20px;
}
.main-img{
    width:100%;
}

.main-logo{
    font-size:30px;
    margin: 100px 0 50px 0;
    text-align: center;
    letter-spacing:10px;
    font-weight: 100;
}

#about-contents{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.myphoto{
    width:40%;
    border-radius: 50%;
}

.about-text{
    width:50%;
}
.about-text p{
     line-height: 2em;
}
.main-text{
    margin-top: 30px;
}
.about-skills{
    width:60%;
    margin:0 auto;
}
.sub-logo{
    text-align: center;
    letter-spacing: 5px;
    font-weight: 100;
}
.icon{
    text-align: center;
    margin:15px 0;
}

#skills-text{
    line-height: 2em;
}
.icon .fab{
    opacity: 0.7;
}

.icon .fab:hover{
    opacity: 1;
}
.contact-wrapper{
    margin-bottom: 100px;
    
}

footer .nav ul{
    justify-content: flex-start;
}
footer{
    margin: 10px 0;
}


#work-contents{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    gap:30px;
}
.works{
    text-align: center;
}

.works img{
    border: solid 3px black;
    box-sizing: border-box;
}
.works img:hover{
    opacity: 0.5;
}
.works .use-lang{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding:5px 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.works p{
    text-align: left;
    word-wrap:break-word;
}