@charset "UTF-8";
@media (max-width: 840px) {
  main{
    padding:0 2rem;
  }
  .top-contents{
    flex-direction: column;
  }
  .mainvisual{
    width: 100%;
  }
  .top-contents_side {
    width: 100%;
  }
  .print{
    display: none;
  }
  .keep{
    flex-direction: column;
    align-items: center;
  }
  .keep .btn{
    width: 80%;
  }
  .follow-sns{
    flex-direction: column;
    align-items: center;
  }
}