@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    font-size: 0.9rem;
    background-color: #F5F5DC;
}
img{
    max-width: 100%;
}
a:hover{
    font-weight: bold;
}
.wrapper{
    max-width: 960px;
    margin: 0px auto;
    font-size: 0.9rem;
    background-color: white;
}
#side-left aside{
    background-color: white;
    margin-bottom: 15px;
    padding:12px 12px 5px 12px;
}
article{
    background-color: white;
    margin-bottom: 15px;
    padding: 12px 8px;
}
#side-right aside{
    margin-bottom: 15px;
}

        /*文字系*/
        
#title{
    color:#663300;
}
#header nav ul li{
    color:#663300;
}
.sub-title{
    background-color: #9ACD32;
    color: white;
    border-radius: 30px;
    padding:5px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.sub-title img{
    padding-right: 7px;
}

.read-more p{
	line-height: 1.6em;
	background: url(images/icon/arrow.png) right 75px top 4.8px no-repeat;
	background-size: 13px auto;
	color:#FF9900;
	text-align: right;
}

#side-left ul li{
    padding-left: 20px;
	line-height: 1.6em;
	background: url(images/icon/arrow.png) left 0px top 11px no-repeat;
	background-size: 12.5px auto;
}
.easy-recipes-text h3{
    color:#663300;
    font-weight: bold;
    margin-bottom: 15px;
}
        /*文字系　ここまで*/
        
        /*ヘッダー*/
#header{
    width:100%;
    background-color: white;
    border-bottom: 2px solid #DDDDDD;
    padding:5px;
}
#header #header-contents{
    max-width: 960px;
    margin: 0px auto;
    font-size: 0.9rem;
}
#header #header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #header-top form{
    height: 25px;
    font-size: 0.7rem;
}
#header #header-top #sbox{
    border: 1px solid rgb(200,200,200);
    padding:4px;
    width:190px;
    height: 25px;
    font-size: 0.7rem;
}
#header #header-top #sbtn{
    border: 1px solid rgb(200,200,200);
    padding:5px;
    background-color: rgb(247,247,247);
    height: 25px;
}
#header nav{
    margin-top: 10px;
}
#header nav ul{
    display: flex;
}
#header nav ul li{
    width:20%;
    text-align: center;
}
#header nav ul li:not(:last-child){
    border-right: 1px solid #DDDDDD;
}
        /*ヘッダー　ここまで*/
    
        
        /*メインビジュアル*/
#main-visual{
    padding:0;
    margin-bottom: 15px;
}
#main-visual img{
    width:100%;
}
        /*メインビジュアル　ここまで*/
        
        
        /*３カラムの位置関係*/
#three-contents{
    display: flex;
    justify-content:space-between;
    background-color: #F5F5DC;
}
#side-left{
    width:20.3%;
}
#main-contents{
    width:60.3%;
}
#side-right{
    width:17.3%;
}
        /*３カラムの位置関係　ここまで*/
        
        
        /*サイド（左）*/
#side-left .sub-title{
    margin-bottom: 7px;
}
#side-left ul li{
    line-height: 250%;
}
#side-left ul li:not(:last-child){
    border-bottom: 1.5px dashed #CCCCCC;
}
        /*サイド（左）ここまで*/
        

        /*メインコンテンツ（真ん中）*/
#main-contents .sub-title{
    margin-bottom: 16px;
}
/*上段*/
#main-contents #new-recipes ul{
    display: flex;
    justify-content: space-between;
}
#main-contents #new-recipes ul li{
    width:19%;
    text-align: center;
}
#main-contents #new-recipes ul li p{
    font-size: 0.3rem;
    margin-top: 3px;
    white-space: nowrap;
}
/*上段ここまで*/

/*中段*/
#main-contents #japanese-food-contents{
    display: flex;
    justify-content: space-around;
}
#main-contents #japanese-food-img{
    width:38%;
}
#main-contents #japanese-food-contents img{
    width:100%;
    height: auto;
}
#main-contents #japanese-food-text{
    width:55%;
    padding:0 5px;
}
#main-contents #japanese-food-text p{
    margin-bottom: 10px;
}
/*中断ここまで*/

/*下段*/
#main-contents #easy-recipes .easy-recipes-contents{
    display: flex;
    justify-content: space-around;
}
#main-contents #easy-recipes{
    padding-bottom: 5px;
}
#main-contents #easy-recipes .easy-recipes-contents .easy-recipes-text{
    width:50%;
}
#main-contents #easy-recipes .easy-recipes-contents .easy-recipes-text .first{
    margin-bottom: 20px;
}
#main-contents #easy-recipes .easy-recipes-contents img{
    width:45%;
}
#main-contents #easy-recipes .read-more p{
    padding:10px 0;
    background: url(images/icon/arrow.png) right 75px top 15px no-repeat;
}
/*下段ここまで*/

        /*メインコンテンツ（真ん中）ここまで*/
        
        /*サイド（右）*/
#side-right img{
    width:100%;
}

        /*サイド（右）ここまで*/

        /*フッター*/
#footer{
    background-color: white;
    padding:10px 0 20px 0;
    font-size:0.8rem;
    border-top: 2px solid #DDDDDD;
}

#footer nav ul{
    display: flex;
    justify-content: center;
}
#footer nav ul li{
    padding:5px 10px;
    text-align: center;
}
#footer nav ul li:not(:last-child){
    border-right: 1px solid #DDDDDD;
}
#footer #copyright{
    text-align: center;
    margin: 5px 0;
    color:#AAAAAA;
}
        /*フッターここまで*/